<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>消费者首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
    <style type="text/css">
        #wrap{
            display: flex;
            justify-content: space-around;
        }
    </style>
    <script type="text/javascript" src="http://hovertree.com/ziyuan/jquery/jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${products}" class="container my-5">
                <button id="refreshBtn" class="btn btn-info  mb_1em" type="button" onclick="refresh()">刷新</button>
                <div id="reloadDiv" class="col-md-10">
                    <h2 th:case="null">没有商品！</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>商品唯一标识</th>
                                <th>名称</th>
                                <th>价格</th>
                                <th>商品类目</th>
                                <th>生产厂商</th>
                            </tr>
                            <tr th:each="product : ${products}">
                                <td>
                                    <input type="checkbox"
                                           class="ads_Checkbox1"
                                           th:value="${product.productId}"
                                           name="checkedoj"/>
                                </td>
                                <td th:text="${product.productId}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.itemId}"></td>
                                <td th:text="${product.price}"></td>
                                <td th:text="${product.createFactory}"></td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

<div id="wrap">
    <div id="selector">
        <span value="">选择优惠：</span>
        <select id="selectID" name="">
            <option value="0">无优惠</option>
            <option value="1">满100减10</option>
            <option value="2">直减10元</option>
            <option value="3">打九折</option>
        </select>
    </div>
    <div id="totalPrice">
        <span>总计：</span>
        <span id = "totalPriceSpan" class="totalPriceSpan">0</span>
        <span> 元</span>
    </div>
    <div>
        <button id="purchaseBtn" class="btn btn-info  mb_1em" type="button" onclick="return purchase()">购买</button>
    </div>
</div>

</body>

<script>

    $(document).ready(function (){
        //绑定下拉框change事件，当下来框改变时调用 SelectChange()方法
        $("#selectID").change(function() { selectChange(); });
    });

    //下拉框改变事件：更新总价
    function selectChange() {
        //定义一个空数组
        let checkID = [];
        //把所有被选中的复选框的值存入数组
        $("input[name='checkedoj']:checked").each(function (i) {
            checkID[i] = $(this).val();
        });
        let data = {
            "userId": "1",
            "discountType": document.getElementById("selectID").value,
            "productIds": checkID
        };
        console.log("productIds"+checkID);
        console.log("data"+data);
        $.ajax({
            url: "http://localhost:8080/consume/calculatePrice",
            data: JSON.stringify(data),
            type: "post",
            contentType: "application/json",
            datatype: "text",
            async: true,
            success: function (data) {
                console.log(data);
                //修改价格
                $("#totalPriceSpan").html(data);
            },
            error: function (data) {
                console.log(JSON.parse(data));

            }
        });
    }

    //购买按钮点击动作
    function purchase() {
        //定义一个空数组
        let checkID = [];
        //把所有被选中的复选框的值存入数组
        $("input[name='checkedoj']:checked").each(function (i) {
            checkID[i] = $(this).val();
            console.log(checkID);
        });
        let data = {
            "userId": "1",
            "discountType": document.getElementById("selectID").value,
            "productIds": checkID
        };
        $.ajax({
            url: "http://localhost:8080/consume/consumeSuccess",
            data: JSON.stringify(data),
            type: "post",
            contentType: "application/json",
            datatype: "text",
            async: false,
            success: function (msg) {
                console.log(msg);
                if (msg == "success") {
                    window.location.href = '/consume/purchaseSuccess';
                }

            },
            error: function (data) {
                console.log(JSON.parse(data));

            }
        });
    }

    //刷新按钮点击动作
    function refresh() {
        $.ajax({
            type: "get", // 请求类型（get/post）
            url: "http://localhost:8080/consume/consumeHome",
            async: true, // 是否异步
            datatype: "json", // 设置数据类型
            success: function (data) {
                //刷新当前页面
                window.location.reload();
                console.log("请求成功！"+data);
                return data;
            },
            error: function (errorMsg) {
                console.log("请求失败！");
                alert("请求失败");
            }
        });
    }
</script>

</html>